# Database
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=

# Redis
REDIS_HOST=
REDIS_PORT=

# App
PORT=
NODE_ENV=
CORS_ORIGIN=
